#panel {
    border: 1px solid #000;
    width: 350px;
    overflow: hidden;
  }

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    10% {
        transform: translateX(210%);
    }
    100% {
        transform: translateX(0);
    }
}

.v-enter-active {
    animation: slide-in 1.5s;
}

.v-leave-active {
    animation: slide-in 1.5s reverse;
}